/* happy with these start*/

#root {
  max-width: 100%;
  margin: 0;
  text-align: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

ul {
  list-style: none;
}

/* Nav Bar */
#nav-bar-container {
  color: black;
  font-size: 1rem;
  margin-left: -0.5rem;
  border-bottom: 1px solid grey;
  width: 100%;
  height: 3.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: white;
  position: fixed;
  top: 0;
  z-index: 2;
}
#nav-bar-img {
  margin-top: 0.5rem;
  height: 2.5rem;
}
#sign-in {
}
.nav-detail {
  padding-top: 1rem;
  color: black;
}

/* Main Title */
#header {
  font-size: 1.5rem;
  padding-top: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 6rem;
  margin-bottom: 0.5rem;
}
#NC {
  color: red;
  padding-right: 1rem;
  text-shadow: 3px 3px 4px grey;
}
#News {
  color: black;
  text-shadow: 3px 3px 4px grey;
}

/* Introduction */
#intro-container {
  margin-bottom: 2rem;
}
p {
  margin: 0;
}
.intro-details {
  padding-top: 0.2rem;
  margin: 0;
}

/* Share */
#socials {
  text-align: center;
  display: flex;
  flex-direction: column;
  z-index: 1;
}
#share {
  margin-bottom: 0.2rem;
  position: absolute;
  right: 1rem;
  top: 12rem;
}
#all-icons-container {
  position: absolute;
  right: 0.8rem;
  top: 3.9rem;
}

.icon-container {
  display: block;
  height: 2rem;
}

.share-icons {
  height: 1.2rem;
  width: 1.2rem;
  padding: 0.1rem;
}

/* Drop Down Menus */
#select-topics {
  padding-left: 0.3rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  width: 5rem;
}
#filter-button {
  margin-left: 1rem;
}
#select-sort-by {
  margin-right: 1rem;
}

/* Article List */
.article-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 2rem;
  padding-right: 2rem;
}
#topic-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-bottom: 1rem;
  width: 100%;
}
.article-card {
  display: flex;
  flex-direction: column;
  list-style: none;
  border-bottom: 2px solid grey;
  padding-bottom: 16px;
}
#article-title {
  font-size: 1rem;
}
.article-contents {
  display: flex;
  flex-direction: row;
}
.article-image-style {
  width: 9.5rem;
  height: auto;
  border-radius: 20px;
  margin-top: 0.8rem;
  margin-left: 0.7rem;
}

#individual-article-image {
  align-self: center;
}

#article-image:hover {
  transform: scale(1.02);
  box-shadow: 10px 10px 10px grey;
}
.article-list-details {
  margin-left: 3rem;
  font-size: 0.8rem;
}

/* Individual Article */

#individual-article-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 85%;
  margin-left: 1.5rem;
}

.bottom-spacer {
  height: 4.5rem;
}

#individual-article-title {
  font-size: 1.4rem;
  margin-bottom: 0;
}

#individual-article-image {
  margin-bottom: 1rem;
  margin-left: 0.2rem;
  width: 18rem;
  box-shadow: 10px 10px 10px grey;
}

.individual-article-details {
  padding: 0;
  font-size: 0.8rem;
  margin-bottom: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#individual-article-body {
  margin-bottom: 0;
}

#votes-comments-headers {
  margin-bottom: 0.5rem;
}

#vote-comment-buttons {
  margin-top: 0;
}

#vote-button {
  margin-left: 1.2rem;
}

#remove-vote-button {
  margin-right: -2.15rem;
}

#comment-button {
  margin-left: 4.4rem;
}

/* comments */

#comments-container {
  margin-bottom: 5rem;
  padding: 0;
}

#comment-form {
  display: flex;
  flex-direction: column;
  width: 81%;
  margin-left: 2rem;
}

#comment-input {
  height: 5rem;
  margin-bottom: 0.5rem;
}

.comment-card {
  font-size: 0.8rem;
  margin: 2rem;
  border: 1px solid grey;
  border-radius: 10px;
}

/* Signin */
#signin-container {
  display: flex;
  flex-direction: column;
  padding-left: 0;
  align-items: center;
  justify-items: center;
}
#signin-card {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}
#signin-card :hover{
  transform: scale(1.04);
 
}
#signin-img {
  width: 3rem;
  height: auto;
  padding-right: 1rem;
}
#signin-username {
  margin-bottom: 0.6rem;
  font-size: 1.2rem;
}
.signin-button{
  font-size: 1.1rem;
}

/* Footer */
footer {
  height: 2.5rem;
  width: 100%;
  background-color: white;
  position: fixed;
  bottom: 0;
  border-top: 1px solid grey;
  margin-left: -0.5rem;
  padding-top: 1rem
}

/* Media query Larger Screens */

@media (min-width: 550px) {

  #header {
    font-size: 2rem;
    margin-bottom: 2rem;
  }

  .article-container {
    display: grid;
    grid-template-columns: 50%, 50%;
    grid-template-rows: auto;
  }

  #article-image {
    width: 14rem;
    height: 15rem;
  }

  .article-list-details {
    margin-left: 4rem;
    font-size: 1.2rem;
  }

  .article_details {
    font-size: 1.2rem;
  }
  #article_title {
    font-size: 2rem;
  }

  #signin-img {
    width: 6rem;
    height: auto;
    margin-top: 1.5rem;
    
  }
}
